<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu Example</title>
</head>
<body>
{% load menu_tags %}
{% draw_menu 'main' as menu_structure %}
<ul>
    {% for item in menu_structure %}
    <li>
        <a href="{% url 'menu_item_page' item.url %}">{{ item.name }}</a>
        {% if item.children %}
        <ul>
            {% for child in item.children %}
            <li>
                <a href="{% url 'menu_item_page' child.url %}">{{ child.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </li>
    {% endfor %}
</ul>
</body>
</html>